@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

* {
    font-family: 'Montserrat', 'sans-serif';
}

body {
    background-color: #F9F9F9;
}

.playersModal::-webkit-scrollbar {
    display: none;
}